body,
html {
  margin: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(
    135deg,
    rgb(0, 0, 0),
    /* Hex: #8e88b2 */ rgb(0, 0, 0),
    /* Hex: #7f694e */ rgb(2, 112, 126),
    /* Hex: #babc8d */ rgb(28, 2, 108),
    /* Hex: #2c2b3a */ #01806a,
    /* Hex: #7f694e */ rgb(109, 49, 49),
    /* Hex: #5f574d */ rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  background-size: 400% 400%; /* This makes the gradient larger than the viewport */
  animation: gradientMove 30s ease infinite; /* Animation settings */
  /* To ensure the gradient covers the entire page */
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  /* background-image: url("assets/piwaves.webp");
  background-repeat: repeat; */
}

/* Keyframes for the animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}